.ContactForm {
  display: flex;
  flex-direction: column;

  padding: 20px;
  max-width: 320px;
  border-radius: 8px;

  box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.38);

  .formBtn {
    padding: 10px;
    width: 250px;
    border: none;
    outline: none;
  }

  .formLabel {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    .formText {
      margin-bottom: 10px;

      font-weight: 500;
      font-size: 18px;
      line-height: 1.18;
    }

    input {
      outline: none;
      border: none;
      border-bottom: 1px solid black;

      background-color: inherit;
    }
  }

  .formBtn {
    border-radius: 8px;
    background-color: rgba(197, 188, 195, 0.5);
    cursor: pointer;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: rgba(174, 164, 172, 0.5);
      box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.38);
    }
  }
}
